/*----- O R D E R - S U C C E S S -----*/

.checkout-success {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem;
    text-align: center;
    background-color: #f9f9f9; 
}

.checkout-success__container {
    max-width: 400px;
    animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

/*--------- I C O N ---------*/

.checkout-success__icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1.7rem;
    border-radius: 50%;
    color: var(--clr-white);
    background-color: var(--clr-primary);
    box-shadow: 0 15px 30px var(--clr-primary-light);
}

.checkout-success__icon img {
    filter: invert(1);
}

/*--------- T E X T S ---------*/

.checkout-success__title {
    font-size: 2rem;
    font-weight: var(--fw-bold);
    letter-spacing: -1px;
    margin-bottom: 1rem;
    color: var(--clr-neutral-900);
}

.checkout-success__text {
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 2.5rem;
    color: var(--clr-neutral-400);
}

.checkout-success__info {
    margin-bottom: 2.5rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: #fcfcfc;
    border: 1px dashed var(--clr-neutral-100);
}

.checkout-success__id {
    font-size: 0.75rem;
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    color: var(--clr-neutral-400);
}
