/*----- C A R T - B T N ----*/

.cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 36px;  
    height: 36px;     
    border-radius: 50%;   
    transition: background-color 0.2s ease; 
    flex-shrink: 0;
}

.cart::after {
    content: '';
    position: absolute;
    width: 44px;
    height: 44px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 50%;
}

.cart:hover {
    background-color: var(--clr-neutral-200);
}

/*------- I C O N -------*/

.cart__icon {
    width: 22px;  
    height: 22px;    
    pointer-events: none;
}

/*------- C O U N T E R   B A D G E -------*/

.cart__count {
    position: absolute;
    min-width: 18px;
    height: 18px;
    top:0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50%;
    color: white;
    background-color: var(--clr-primary); 
}


/*----------- D E S K T O P  -----------*/

@media screen and (min-width: 768px) {
    .cart {
        width: 42px; 
        height: 42px;
    }
    
    .cart__count {
        top: 2px;
        right: 2px;
    }
}