/*------- U S E R - B U T T O N ------*/

.user__btn {    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 36px;  
    height: 36px;    
    border-radius: 50%;   
    transition: background-color 0.2s ease; 
    flex-shrink: 0;   
}

.user__btn::after {
    content: '';
    position: absolute;
    width: 44px;
    height: 44px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 50%;    
}

.user__btn:hover {
    background-color: var(--clr-neutral-200);
}

.user__btn-icon {
    width: 22px; 
    height: 22px;
    transition: all 0.2s ease;
}

/*------- L O G G E D - S T A T E -------*/

.user__btn-logged {
    background-color: var(--clr-primary);
}

.user__btn-logged .user__btn-icon {
    filter: brightness(0) invert(1);
}

.user__btn-logged:hover {
    background-color: var(--clr-primary);
}


/*---------- R E S P O N S I V E -----------*/

@media screen and (min-width: 768px) {
    .user {
        width: 44px; 
        height: 44px;
    }    
}